*/.env
*/.env.*
**/node_modules
**/dist
.angular/
**/.vscode/
**/.gitignore
client/.editorconfig
client/src/environments/environment.ts
**/coverage
**/*.*.heapsnapshot
.env
terraform/variables.tf
terraform/.terraform/
terraform/modules/
terraform/.terraform.lock.hcl
secrets-command.txt