*/.env
*/.env.*
**/node_modules
**/dist
.angular/
**/.vscode/
**/.gitignore
client/.editorconfig
client/src/environments/environment.ts
**/coverage
**/*.*.heapsnapshot
.env
**/variables.tf
**/.terraform/
**/modules/
**/.terraform.lock.hcl
secrets-command.txt
**/*.out
kubernetes/secrets/
**/*.tfstate
**/*.tfstate.backup
iampolicy.json
commands/kubectlcmd/cmds.txt
kubernetes/controller-policy.json
kubernetes/trust-relationship.json
